{% extends 'admin.html.twig' %}

{% block title %}
	Hello PostController!
{% endblock %}

{% block body %}

	<section class="bg-dash rounded">
		<div class="flex flex-col h-full px-5 py-4">

            <div class="flex flex-col h-full">

                <div>
                    {% if post.coverName is not null %}
                        <img src="{{ 'http://127.0.0.1:8000/images/posts/' ~ post.coverName }}" alt="imagem de capa" class="h-40">
                    {% endif %}
                </div>

                <h2 class="text-2xl font-semibold text-gray-900 tracking-tighter">
                    {{ post.title}}
                </h2>

                <div class="flex flex-col">
                    <span class="font-semibold tracking-tighter text-base leading-7 text-gray-600">
                        {{ post.author.email }}
                    </span>
                    <p class="font-semibold tracking-tighter text-sm leading-7 text-gray-700">
                        Created in: {{ post.createdAt|date("d/m/Y") }}
                        {% if post.createdAt != post.modifiedAt %}
                            Modified in: {{ post.modifiedAt|date("d/m/Y") }}
                        {% endif %}
                        {% if post.createdAt != post.publicationAt %}
                            Published in: {{ post.publicationAt|date("d/m/Y") }}
                        {% endif %}

                    </p>
                </div>

                <div class="text-base text-gray-800 tracking-tighter mt-3">
                    {{ post.text }}
                </div>
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <a href="{{ path('admin_post_index') }}" class="text-sm font-semibold leading-6 text-gray-900">
                    Back
                </a>
                <a href="{{ path('admin_post_edit', {slug: post.slug}) }}" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Edit
                </a>
            </div>

		</div>
	</section>

{% endblock %}